---
layout: page
title: 首页
---

<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">最新博客文章</div>
          {% for post in paginator.posts %}
            {% if post.category == "博客" %}
              <a  href='{{ post.url }}' class="list-group-item pjaxlink">
                {{post.title}}
              </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">互联网</div>
          {% for tag in site.tags %} 
            {% if tag[0] == '互联网' %}
              {% for post in tag[1] %}
                <a  href='{{ post.url }}' class="list-group-item pjaxlink">
                  {{post.title}}
                </a>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>

      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">读书</div>
          {% for tag in site.tags %} 
            {% if tag[0] == '读书' %}
              {% for post in tag[1] %}
                <a  href='{{ post.url }}' class="list-group-item pjaxlink">
                  {{post.title}}
                </a>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>  

      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">学习记载</div>
          {% for tag in site.tags %} 
            {% if tag[0] == '语法' %}
              {% for post in tag[1] %}
                <a  href='{{ post.url }}' class="list-group-item pjaxlink">
                  {{post.title}}
                </a>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>  

      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">重点摘要</div>
          {% for tag in site.tags %} 
            {% if tag[0] == '摘要' %}
              {% for post in tag[1] %}
                <a  href='{{ post.url }}' class="list-group-item pjaxlink">
                  {{post.title}}
                </a>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>  

    </div>
  </div>
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-12">
        <div class="panel panel-primary">
          <div class="panel-heading">Leetcode</div>
          {% for tag in site.tags %} 
            {% if tag[0] == 'Leetcode' %}
              {% for post in tag[1] %}
                <a  href='{{ post.url }}' class="list-group-item pjaxlink">
                  {{post.title}}
                </a>
              {% endfor %}
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
 
