<div class="opacity" style="position:fixed;right:20px;top:10px;">
  <button id="nav_btn" class="btn btn-lg"><i class="fa fa-reorder"></i></button>
</div>
<script type="text/javascript" src="/public/js/jquery.js"></script>
<script type="text/javascript" src="/public/js/bootstrap.js"></script>
<script src="/public/js/jquery.pjax.js"></script>
<script src="/public/js/prettify/prettify.js"></script>
<script>
    $('a[href="#{{ site.active }}"]').tab('show');
</script>
<script src="/public/js/base.js"></script>

<!--baidu tongji-->
<script type="text/javascript">
var _bdhmProtocol = (("https:" == document.location.protocol) ? " https://" : " http://");
document.write(unescape("%3Cscript src='" + _bdhmProtocol + "hm.baidu.com/h.js%3F2c26553505599c27ac4459b4a02e0ef9' type='text/javascript'%3E%3C/script%3E"));
</script>
<!--end-->

<!-- JiaThis Button BEGIN -->
<script type="text/javascript" src="http://v1.jiathis.com/code/jiathis_r.js?move=0" charset="utf-8"></script>
<!-- JiaThis Button END -->